body {
  font-family: "Roboto Mono", monospace;
  height: 100vh;
  background-image: url("black-textures-background-1920x1200-abstract-textures-hd-art-wallpaper-preview.jpg");
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

select {
  margin: 12px;
  padding: 6px;
  height: 40px;
  border-radius: 5px;
  font-size: 1.3rem;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: white;
  font-size: 20px;
}

button {
  margin-top: 12px;
  padding: 10px 8px;
  border-radius: 10px;
  background: #ffffff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #7e7e7e;
  color: #ffffff;
  transition: 0.7s;
}

h2 {
  color: #ffffff;
  font-size: 30px;
}
